@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.hero {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
  color: #fff;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "nav" "content";
  min-height: 100vh;
}

.nav {
  grid-area: nav;
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  gap: 1em;
  align-items: center;
  height: 90px;
  overflow: visible;
}

.nav__list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

.nav__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.nav__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.nav__link {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
  transition: 0.3s;
}

.nav__link:not(.nav__link--inside):hover {
  background-color: #2455c0;
  border: 2px solid;
  border-radius: 6px;
  margin: 5px 5px;
}

.nav__arrow {
  transform: var(--transform);
  transition: transform 0.3s;
  display: block;
  margin-left: 3px;
}

.nav__nesting {
  clip-path: var(--clip);
  list-style: none;
  transition: clip-path 0.3s;
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: #6489d3;
}

.nav__link--inside {
  padding: 20px 20px;
}

.nav__link--inside:hover {
  background-color: #99acd4;
}



.nav__logo {
  font-size: 1.8rem;
  font-weight: 300;
}

.nav__menu {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}

.nav__icon {
  display: block;
    width: 36px;
}

/* Hero main */

.hero__main {
  grid-area: content;
  display: grid;
  gap: 2em;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: 1fr 1fr;
  padding-bottom: 180px;
  align-items: center;
}

.hero__waves {
  grid-area: content;
  align-self: end;
}

.hero__title {
  font-size: 2.6rem;
  letter-spacing: 2px;
}

.hero__subtitle {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.hero__cta {
  text-decoration: none;
  color: #fff;
  padding: 15px 60px;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 700;
}

.hero__cta:hover {
  background-color: #fff;
  color: #1e3c72;
  transition: background-color 0.3s;
}

.hero__img {
  width: 100%;
}

@media (max-width: 800px) {
  .nav__list {
    position:fixed;
    max-width: 400px;
    width: 100%;
    top: 70px;
    bottom: 0;
    right: 0;
    border: 2px solid;
    background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
    font-weight: 700;
  }

  .nav__list--show{
    transform: unset;
    width: 100%;
  }

  .nav__link{
    padding: 25px 0;
        padding-left: 30px;
        height: auto;
  }

  .nav__link--inside{
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #4d7bd1;
  }

  .nav__arrow{
    margin-left: auto;
    margin-right: 20px;
  }

  .nav__nesting{
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height .3s;
    background-color: #0049e6;
  }

  .nav__menu {
    display: flex;
  }

  .nav__item {
    --clip: 0;
    overflow: visible;
  }

  .nav__item--active {
    --transform: rotate(0);
    --background: #517ad1;
  }

  .nav__item--show{
    background-color: var(--background);
  }

 

  .hero__main {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
  }

  .hero__picture {
    grid-row: 1/2;
  }

  .hero__img {
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
}
